@use './consts' as *;

.BigContainer {
  font-size: $font-big;
  min-height: 860px;
  min-width: 300px;
  background-color: #ffdee9;
  background-image: linear-gradient(135deg, #ffdee9 0%, #b5fffc 100%);
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(100px, 1300px) minmax(
      1rem,
      1fr
    );
  grid-template-rows: minmax(50px, min-content) minmax(50px, min-content);
}
