$primary-color: blue;
$font-small: 2rem;
$font-big: 4rem;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Otomanopee+One&family=Qahiri&family=Zen+Tokyo+Zoo&display=swap');
//font-family: 'Anton', sans-serif;
//font-family: 'Otomanopee One', sans-serif;
//font-family: 'Qahiri', sans-serif;
//font-family: 'Zen Tokyo Zoo', cursive;

$font-w1: 'Anton';
$font-w2: 'Otomanopee One';
$font-w3: 'Qahiri';
$font-w4: 'Zen Tokyo Zoo';
