@use './consts' as *;

.MyButton {
  text-decoration: none;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  border: 3px black solid;
  box-shadow: 3px 3px 3px black;
  display: grid;
  place-items: center;
  margin: 2rem;
  font-size: $font-small;
  font-family: $font-w1;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

///////////////////////BUTTON 1////////////////////////////
#button1 {
  background-color: rgb(120, 120, 233);
}

#button1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgb(85, 187, 85), green);
  transition: all 0.2s;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
}

#button1:hover::before {
  transform: rotate(0deg);
}

//////////////////////////////////////////////////////////

///////////////////////BUTTON 2////////////////////////////

#button2 {
  transition: color 0.3s ease-in-out 0.3s;
  background-image: linear-gradient(rgb(247, 125, 125), rgb(124, 11, 146));
}

#button2::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: purple;
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

#button2:hover {
  color: white;
}

#button2:hover::before {
  transform: translateX(0);
}

//////////////////////////////////////////////////////////

///////////////////////BUTTON 3////////////////////////////
#button3 {
  transition: color 0.3s ease-in-out 0.3s;
}

#button3:hover {
  color: white;
}

#button3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: darkblue;
  transform: rotateX(90deg);
  transition: 0.5s ease-in-out;
}

#button3:hover::before {
  transform: rotateX(0deg);
}

#button3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: darkblue;
  transform: rotateY(90deg);
  transition: 0.5s ease-in-out;
}

#button3:hover::after {
  transform: rotateY(0deg);
}

//////////////////////////////////////////////////////////

///////////////////////BUTTON 4////////////////////////////
#button4 {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-image: linear-gradient(
    45deg,
    rgb(216, 97, 97),
    red,
    rgb(77, 2, 2)
  );
}

#button4:hover {
  transform: scaleX(1.2);
}
//////////////////////////////////////////////////////////

///////////////////////BUTTON 5////////////////////////////
#button5 {
  background-image: radial-gradient(rgb(82, 82, 4), yellow);
}

#button5::after {
  position: absolute;
  content: 'GOOD';
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  display: grid;
  place-items: center;
  background-image: radial-gradient(black, gray);
  color: white;
}
#button5:hover::after {
  top: 0;
}

//////////////////////////////////////////////////////////

///////////////////////BUTTON 6////////////////////////////
#button6 {
  background-color: darkorange;
  color: white;
}

#button6::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 15%;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s ease-in-out;
}

#button6:hover::before {
  transform: translateX(100%) rotate(45deg);
}

#button6::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 15%;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateX(-110%) rotate(45deg);
  transition: all 0.3s ease-in-out;
}

#button6:hover::after {
  transform: translateX(90%) rotate(45deg);
}
//////////////////////////////////////////////////////////

///////////////////////BUTTON 7////////////////////////////
#button7 {
  background-color: black;
}

#button7::before {
  content: 'Hover me';
  background-color: rgb(5, 5, 107);
  color: white;
  position: absolute;
  top: 100%;
  left: -100%;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#button7::after {
  content: 'Hover me';
  background-color: rgb(5, 5, 107);
  color: white;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#button7:hover::before {
  top: 0;
  left: 0%;
}

#button7:hover::after {
  top: -100%;
  left: 100%;
}

//////////////////////////////////////////////////////////

///////////////////////BUTTON 8////////////////////////////
#button8::before {
  background-color: rgb(48, 48, 48);
  color: white;
  content: 'Hover Me';
  transform: scale(1.8);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: 0.3s;
}

#button8:hover::before {
  transform: scale(1);
  opacity: 1;
}
//////////////////////////////////////////////////////////

///////////////////////BUTTON 9////////////////////////////
#button9::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(236, 33, 186);
  border-radius: 0 0 50% 50%;
  height: 0%;
  width: 100%;
  display: grid;
  place-items: center;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

#button9:hover::before {
  height: 190%;
}
//////////////////////////////////////////////////////////

///////////////////////BUTTON 10////////////////////////////
#button10 {
  background-color: cadetblue;
  overflow: visible;
}

#button10::before {
  position: absolute;
  background-color: rgb(50, 97, 99);
  color: white;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: 'Hover me';
  display: grid;
  place-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: 0.3s;
}

#button10:hover::before {
  transform: rotateX(0deg);
}
//////////////////////////////////////////////////////////

///////////////////////BUTTON 11///////////////////////////
#button11 {
  color: transparent;
  overflow: visible;
}

#button11::before {
  content: 'Hover Me';
  background-color: rgb(245, 194, 100);
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.01) translateX(-310px);
  display: grid;
  place-items: center;
  border-radius: 10px;
  transition: 0.3s;
}

#button11::after {
  content: 'Hover Me';
  background-color: wheat;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  transform: scale(1) translateX(0%);
  display: grid;
  place-items: center;
  border-radius: 10px;
  transition: 0.3s;
}

#button11:hover::before {
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  transform: scale(1) translateX(0%);
}

#button11:hover::after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.01) translateX(310px);
}

//////////////////////////////////////////////////////////

///////////////////////BUTTON 12////////////////////////////
#button12 {
  overflow: visible;
  transition: 0.8s;
}

#button12::before {
  content: '';
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%) translateX(-150%);
  background-color: red;
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s;
  opacity: 1;
}

#button12::after {
  content: '';
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%) translateX(150%);
  background-color: blue;
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s;
  opacity: 1;
}

#button12:hover {
  background-color: purple;
  color: white;
}

#button12:hover::before {
  transform: translateY(-50%) translateX(225%);
  opacity: 0;
}

#button12:hover::after {
  transform: translateY(-50%) translateX(-225%);
  opacity: 0;
}
//////////////////////////////////////////////////////////

///////////////////////BUTTON 13////////////////////////////

//////////////////////////////////////////////////////////

///////////////////////BUTTON 14////////////////////////////

//////////////////////////////////////////////////////////

///////////////////////BUTTON 15////////////////////////////

//////////////////////////////////////////////////////////

///////////////////////BUTTON 16////////////////////////////

//////////////////////////////////////////////////////////

///////////////////////BUTTON 17////////////////////////////

//////////////////////////////////////////////////////////

///////////////////////BUTTON 18////////////////////////////

//////////////////////////////////////////////////////////

///////////////////////BUTTON 19////////////////////////////

//////////////////////////////////////////////////////////

///////////////////////BUTTON 20////////////////////////////

//////////////////////////////////////////////////////////
