@import url("https://fonts.googleapis.com/css2?family=Anton&family=Otomanopee+One&family=Qahiri&family=Zen+Tokyo+Zoo&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:active,
a:hover,
a:link,
a:visited {
  color: black;
}

.BigContainer {
  font-size: 4rem;
  min-height: 860px;
  min-width: 300px;
  background-color: #ffdee9;
  background-image: linear-gradient(135deg, #ffdee9 0%, #b5fffc 100%);
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(100px, 1300px) minmax(1rem, 1fr);
  grid-template-rows: minmax(50px, -webkit-min-content) minmax(50px, -webkit-min-content);
  grid-template-rows: minmax(50px, min-content) minmax(50px, min-content);
}

.UpperContainer {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.upper_my {
  color: #ce62b6;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Qahiri";
}

.upper_cool {
  color: #7e54df;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Otomanopee One";
}

.upper_css {
  color: #5e86d1;
  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Anton";
}

.upper_buttons {
  color: #721414;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Zen Tokyo Zoo";
  padding: 1rem;
  border: 2px solid #721414;
}

.BottomContainer {
  min-height: 67vh;
  grid-column: 2/3;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.MyButton {
  text-decoration: none;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  border: 3px black solid;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  display: grid;
  place-items: center;
  margin: 2rem;
  font-size: 2rem;
  font-family: "Anton";
  position: relative;
  z-index: 10;
  overflow: hidden;
}

#button1 {
  background-color: #7878e9;
}

#button1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#55bb55, green);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: -1;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#button1:hover::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#button2 {
  -webkit-transition: color 0.3s ease-in-out 0.3s;
  transition: color 0.3s ease-in-out 0.3s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f77d7d), to(#7c0b92));
  background-image: linear-gradient(#f77d7d, #7c0b92);
}

#button2::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: purple;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  z-index: -1;
}

#button2:hover {
  color: white;
}

#button2:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#button3 {
  -webkit-transition: color 0.3s ease-in-out 0.3s;
  transition: color 0.3s ease-in-out 0.3s;
}

#button3:hover {
  color: white;
}

#button3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: darkblue;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#button3:hover::before {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

#button3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: darkblue;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#button3:hover::after {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

#button4 {
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-image: linear-gradient(45deg, #d86161, red, #4d0202);
}

#button4:hover {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

#button5 {
  background-image: radial-gradient(#525204, yellow);
}

#button5::after {
  position: absolute;
  content: "GOOD";
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: grid;
  place-items: center;
  background-image: radial-gradient(black, gray);
  color: white;
}

#button5:hover::after {
  top: 0;
}

#button6 {
  background-color: darkorange;
  color: white;
}

#button6::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15%;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-transform: translateX(-100%) rotate(45deg);
          transform: translateX(-100%) rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button6:hover::before {
  -webkit-transform: translateX(100%) rotate(45deg);
          transform: translateX(100%) rotate(45deg);
}

#button6::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15%;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-transform: translateX(-110%) rotate(45deg);
          transform: translateX(-110%) rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button6:hover::after {
  -webkit-transform: translateX(90%) rotate(45deg);
          transform: translateX(90%) rotate(45deg);
}

#button7 {
  background-color: black;
}

#button7::before {
  content: "Hover me";
  background-color: #05056b;
  color: white;
  position: absolute;
  top: 100%;
  left: -100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#button7::after {
  content: "Hover me";
  background-color: #05056b;
  color: white;
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#button7:hover::before {
  top: 0;
  left: 0%;
}

#button7:hover::after {
  top: -100%;
  left: 100%;
}

#button8::before {
  background-color: #303030;
  color: white;
  content: "Hover Me";
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#button8:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#button9::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ec21ba;
  border-radius: 0 0 50% 50%;
  height: 0%;
  width: 100%;
  display: grid;
  place-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

#button9:hover::before {
  height: 190%;
}

#button10 {
  background-color: cadetblue;
  overflow: visible;
}

#button10::before {
  position: absolute;
  background-color: #326163;
  color: white;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "Hover me";
  display: grid;
  place-items: center;
  -webkit-transform: rotateX(270deg);
          transform: rotateX(270deg);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#button10:hover::before {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

#button11 {
  color: transparent;
  overflow: visible;
}

#button11::before {
  content: "Hover Me";
  background-color: #f5c264;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.01) translateX(-310px);
          transform: scale(0.01) translateX(-310px);
  display: grid;
  place-items: center;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#button11::after {
  content: "Hover Me";
  background-color: wheat;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1) translateX(0%);
          transform: scale(1) translateX(0%);
  display: grid;
  place-items: center;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#button11:hover::before {
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1) translateX(0%);
          transform: scale(1) translateX(0%);
}

#button11:hover::after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.01) translateX(310px);
          transform: scale(0.01) translateX(310px);
}

#button12 {
  overflow: visible;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#button12::before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%) translateX(-150%);
          transform: translateY(-50%) translateX(-150%);
  background-color: red;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

#button12::after {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%) translateX(150%);
          transform: translateY(-50%) translateX(150%);
  background-color: blue;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

#button12:hover {
  background-color: purple;
  color: white;
}

#button12:hover::before {
  -webkit-transform: translateY(-50%) translateX(225%);
          transform: translateY(-50%) translateX(225%);
  opacity: 0;
}

#button12:hover::after {
  -webkit-transform: translateY(-50%) translateX(-225%);
          transform: translateY(-50%) translateX(-225%);
  opacity: 0;
}
/*# sourceMappingURL=styles.css.map */